body{
    background-color: black;
    color: white;

}

.dom_container{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 1300px;
margin: auto;
margin-top: 1.5rem;

}

body::-webkit-scrollbar{
    display: none;
}

button{
    font-weight: bold important;
}
.img{
    width: 200px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid yellow;
}
.hover_effect{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 350px;
    overflow: hidden;
    transition: 0.7s ease;
}
.hover_effect img{
    /* width: 100%; */
    transition: transform 0.7s ease;
    transform: translateZ(0);
}
.hover_effect:hover img{
    transform: scale(1.1) translateZ(50px);
}